{% extends 'base.html' %}

{% block head %}
    <title>movie</title>
{% endblock %}

{% block body %}

    <main id="main">
        {% for movie in movieDetails %}
        <div class="movie">
            <img src={{  URL }}{{ movie.image }} alt="image">

            <div class="movie-info">
                <h3> {{ movie.title }} </h3>
                <span> {{ movie.rating }} </span>
            </div>

            <div class="overview">
                <h3>Overview</h3>
               {{ movie.overview }}
               <form action="/filepath/">
                   <button name="Browse" type="submit">Browse</button>
               </form>
            </div>
        </div>
        {% endfor %}
    </main>
{% endblock %}